<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>497294149934-slg08fmjfcsoq1tvsdhb44lral8sdb0p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.497294149934-slg08fmjfcsoq1tvsdhb44lral8sdb0p</string>
	<key>API_KEY</key>
	<string>AIzaSyBa7ytuN0ETQeAs05ZX8qsLrPT1a4cBHck</string>
	<key>GCM_SENDER_ID</key>
	<string>497294149934</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nightLife</string>
	<key>PROJECT_ID</key>
	<string>nightlife-6bc2d</string>
	<key>STORAGE_BUCKET</key>
	<string>nightlife-6bc2d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:497294149934:ios:4bd56885e61d04aec4d2bf</string>
	<key>DATABASE_URL</key>
	<string>https://nightlife-6bc2d.firebaseio.com</string>
</dict>
</plist>